/*This will be some CSS for a website*/


/*Text Modifers - Centering, Shadows*/
.center-text{
    text-align: center;
}

.gametxt {
    text-align: center;
}

.center_align {
align-content: center;
text-align: center;

}
/*
.shadow-para {
    text-shadow: 0.05em 0 rgb(255 255 255), 0 0.05em rgb(255 255 255), -0.05em 0 rgb(255 255 255), 0 -0.05em rgb(255 255 255), -0.05em -0.05em rgb(255 255 255), -0.05em 0.05em rgb(255 255 255), 0.05em -0.05em rgb(255 255 255), 0.05em 0.05em rgb(255 255 255);
}
*/
/*Overarching Elements - Body, Main*/
body {
    background-color: #2BAE66FF;
    /*background-color: #FCF6F5FF;*/
    /*background-color: rgb(245 245 245);*/
    /*background-color:rgb(32 32 32) black*/
    /*
    background-image: url("images/background_white.jpg");
    background-size: cover;
    */
}

#main {
    margin-top: 0.5em;
    /*font-family: 'Roboto';*/
    font-family: 'Archivo';
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
    /*color: #2BAE66FF;*/
    color: #FCF6F5FF;
    letter-spacing: 0.1em;
    /*font-size: larger;*/
    font-size: medium;
    font-weight: normal;
}



.img-fluid-limited {
    max-width: 50%;
    height: auto;
}

.navbar {
    /*font-family: 'Roboto';*/
    font-family: 'Archivo';
    letter-spacing: 0.05em;
    font-weight: 800;
    margin-left: 1em;
    margin-right: 1em;

}

#myNavbar {
    margin-left: 1em;
    margin-right: 1em;
 
}

.nav-link {
padding: 1em;
margin-left: 1em;
margin-right: 1em;
}

#nav-bar {
    /*background-color: darkseagreen;
    background-color: #8ef591
    background-color: lightgray;
    background-color: #38CA3B; */
    /*background-color: #2BAE66FF;*/
    background-color: #FCF6F5FF;
}

/*Navbar/ link colours*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text li {
    /*color: #FCF6F5FF;*/
    color: #2BAE66FF;
}

.navbar-custom .navbar-nav .nav-link {
    /*color: #FCF6F5FF;*/
    color: #2BAE66FF;
}

.navbar-custom .navbar-nav .nav-link.active {
    color: #FCF6F5FF;
    background-color: #2BAE66FF;
}


.nav-link {
    margin-left: 0;
    margin-right: 0;
    padding-top: 1em;
}



.navbar-custom .navbar-brand .navbar-toggler .navbar-toggler-icon {
    color: #FCF6F5FF;
}

a.navbar-brand:hover {
    color: #2BAE66FF;
    cursor: pointer;
}


nav .navbar-nav li a:hover {
   /* color: crimson !important;*/
    color: #d8d3d2 !important;
    /*background-color: rgb(255, 255, 255, 0.2);*/
    background-color: rgba(43, 174, 102, 0.75);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: #2BAE66FF;
}




/*Section Control - Work, About, UXGames - fadein, hide*/
#work {
    opacity: 0;
    padding-top: 1.5em;
}
#about, #uxGames {
    opacity: 0;
    padding-top: 1.0em;

}


#work.fadeIn, #about.fadeIn, #uxGames.fadeIn{
        opacity: 1;
        -webkit-transition: opacity 1.5s ease-in-out;
        -moz-transition: opacity 1.5s ease-in-out;
        -o-transition: opacity 1.5s ease-in-out;
        transition: opacity 1.5s ease-in-out;
}

#work.hide, #about.hide, #uxGames.hide {
        height: 0px;
        opacity: 0;
        bottom: 10px;
        position: fixed;
}



.fadeIn {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

.hideEle {
    height: 0;
    font-size: 0;
    opacity: 0;
    transition: all 0.1s;

}


/*Column Control - Bootstrap*/
/*Image size when uxgames images are expanded*/
.col-md-12  .content{
margin-left: auto;
margin-right: auto;
transition: all .5s;
width: 75%;
}

.col-md-12 #game-4-imgs {
    margin-left: auto;
    margin-right: auto;
    transition: all .5s;
    width: 75%;
}





/*Image Overlays*/
/*For image overlay command interactivity*/
.content {
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin: 0.2em;
    transition: all 0.5s ease-in-out;
}

    .content:hover {
        overflow: hidden;
        /*box-shadow: 0px 0px 1px 1px rgb(128, 128, 128, 0.75);*/
    }


    
    .content .content-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        align-items: center;
        text-align: center;


        transition: 0.5s ease-in-out;
        backdrop-filter: blur(7px);

    }


.content:hover .content-overlay {
        opacity: 1;

}

.content:hover .content-overlay-hidden {

        opacity: 0;
 }

    .content .content-expand-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.8em;
        margin-right: 0.1em;
        transition: all 0.75s ease-in-out;
        opacity: 0;
    }

    .img-expand{
        height: 50%;
        width: 50%;

    }

.content:hover .content-expand-icon {
    opacity: 1;
}

.image-width{
    width: 50%;
}


.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transition-delay: 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.content:hover .content-details {
    top: 50%; 
    left: 50%;
    opacity: 1;
    
}

.content:hover .content-details-hidden {
    top: 50%;
    left: 50%;
    opacity: 0;
  
}

.content-details h3 {
    /*font-family: 'Roboto';*/
    font-family: 'Archivo';
    color: #fff;
    font-weight: 500;
    margin: 0.5em;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    /*text-shadow: 2px 2px 4px black;*/
}
.content-details p {
    /*font-family: 'Roboto';*/
    font-family: 'Archivo';
    color: #fff;
    font-size: 0.8em;
    text-shadow: none;
}


.content-details-hidden h3 {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: uppercase;
    font-size: 2em;
    display: none;
}

.content-details-hidden p {
    color: #fff;
    font-size: 0.8em;
    display: none;
}

.fadeIn-bottom {
    top: 80%;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'), url('roboto-regular-webfont.woff') format('woff');
    /*font-family: 'palanquin-regular';
    src: url('palanquin-regular-webfont.woff2') format('woff2'), url('palanquin-regular-webfont.woff') format('woff');
*/
}


/*Font Size on resize*/
@media screen and (max-width: 425px) {
    p {
        font-size: small;
        width: 100%;
    }
    .contents-details h3 {
        font-size: 10px;
    }

    .col-md-12 .content {
        width: 100%;
    }

    .col-md-12 #game-4-imgs {
        width: 100%;
    }

    .img-expand {
        height: 30%;
        width: 30%;
    }
}





@media screen and (min-width: 425px) and (max-width: 768px){

    p {
        font-size: medium;
        width: 100%;
    }

    .contents-details h3{
        font-size: 20px;
    }
    .col-md-12 .content {
        width: 100%;
    }

    .col-md-12 #game-4-imgs {
        width: 100%;
    }

    .img-expand {
        height: 40%;
        width: 40%;
    }
}



@media screen and (min-width: 800px) {
    .content-details h3{
        font-size: 40px;
    }
    p {
        font-size: larger;
        width: 100%;
    }

}
@media screen and (min-width: 992px) {
    .content-details h3 {
        font-size: 60px;
    }

    p {
        font-size: larger;
        width: 100%;
    }
    .navbar {
    padding-top: 0;
    padding-bottom: 0;
    }
}
@media screen and (max-width: 991px) {

    .navbar {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}



.burgerIcon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    /*background-color: white; */
    background-color: #2BAE66FF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);   
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px);
}