/*This will be some CSS for a website*/
.center-text{
    text-align: center;
}

.center_align {
align-content: center;
text-align: center;

}

body {
    background-color: #FCF6F5FF;

    /*background-color: rgb(245 245 245);*/
    /*background-color:rgb(32 32 32) black*/
    /*
    background-image: url("images/background_white.jpg");
    background-size: cover;
    */
}

.img-fluid{

}
.img-fluid-limited {
    max-width: 50%;
    height: auto;
}

.navbar {
   font-family: 'Roboto';
   letter-spacing: 0.05em;
   font-weight: 700;
    margin-left: 1em;
    margin-right: 1em;
}

#myNavbar {
    margin-left: 1em;
    margin-right: 1em;
 
}

.nav-link {
padding: 1em;
margin-left: 1em;
margin-right: 1em;
}

#nav-bar {
    /*background-color: darkseagreen;
    background-color: #8ef591
    background-color: lightgray;
    background-color: #38CA3B; */
    background-color: #2BAE66FF;
 
}


/*Navbar/ link colours*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text li {
    color: #FCF6F5FF;

}

.navbar-custom .navbar-nav .nav-link {
    color: #FCF6F5FF;

}

.navbar-custom .navbar-brand .navbar-toggler .navbar-toggler-icon {
     color: #FCF6F5FF;

}
nav .navbar-nav li a:hover {
    color: crimson !important;
}

#main {
    margin-top: 0.5em;
    font-family: 'Roboto';
    font-weight: 500;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-height: 200px;

}

.shadow-para {
    text-shadow: 0.05em 0 rgb(255 255 255), 0 0.05em rgb(255 255 255), -0.05em 0 rgb(255 255 255), 0 -0.05em rgb(255 255 255), -0.05em -0.05em rgb(255 255 255), -0.05em 0.05em rgb(255 255 255), 0.05em -0.05em rgb(255 255 255), 0.05em 0.05em rgb(255 255 255);

}

p {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #2BAE66FF;
    letter-spacing: 0.1em;
    /*font-size: larger;*/
    font-size: medium;
}

#work {
    opacity: 0;
    padding-top: 1.5em;
}
#about, #uxGames {
    opacity: 0;
    padding-top: 1.0em;

}

#work.fadeIn, #about.fadeIn, #uxGames.fadeIn{
        opacity: 1;
        -webkit-transition: opacity 1.5s ease-in-out;
        -moz-transition: opacity 1.5s ease-in-out;
        -o-transition: opacity 1.5s ease-in-out;
        transition: opacity 1.5s ease-in-out;
}
    #work.hide, #about.hide, #uxGames.hide {
        height: 0px;
        opacity: 0;
    }






.fadeIn {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

.hideElement {
    opacity: 0;
    visibility: hidden;
    display: none;
    height: 0;
    font-size: 0;
}

.hideEle {
    height: 0;
    font-size: 0;
    opacity: 0;
    transition: all 0.1s;

}

/*Image size when uxgames images are expanded*/
.col-md-12  .content{
margin-left: auto;
margin-right: auto;
transition: all .5s;
width: 75%;
}

.col-md-12 #game-4-imgs {
    margin-left: auto;
    margin-right: auto;
    transition: all .5s;
    width: 75%;
}

.gametxt {
text-align: center;

}

#row-work, #row-about, #gm-row-1 {
margin-left: auto;
margin-right: auto;
width: 100%;
}



/*For image overlay command interactivity*/

.content {
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin: 0.2em;
    transition: 0.5s;
    
}

    .content:hover {
        /*box-shadow: 0px 0px 1px 1px rgb(128, 128, 128, 0.75);*/
        transform: scale(1.03);
    }


    .content .content-overlay {
        /* background: rgba(255, 255, 255, 0.3);*/
        /*background: rgba(0, 204, 204, 0.5);*/
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        align-items: center;
        text-align: center;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.25s;
        backdrop-filter: blur(7px);
    }


.content:hover .content-overlay {
        opacity: 1;
}

.content:hover .content-overlay-hidden {
        opacity: 0;
        
}

.content-image {
    width: 100% ;
}

.image-width{
    width: 50%;
}


.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transition-delay: 0.3s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    
}

.content:hover .content-details-hidden {
    top: 50%;
    left: 50%;
    opacity: 0;
  
}

.content-details h3 {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 4px black;
}
.content-details p {
    font-family: 'Roboto';
    color: #fff;
    font-size: 0.8em;
    text-shadow: none;
}


.content-details-hidden h3 {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: uppercase;
    font-size: 2em;
    display: none;
}

.content-details-hidden p {
    color: #fff;
    font-size: 0.8em;
    display: none;
}

.fadeIn-bottom {
    top: 80%;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'), url('roboto-regular-webfont.woff') format('woff');
}


/*Font Size on resize*/
@media screen and (max-width: 425px) {
p {
    font-size: small;
}
    .contents-details h3 {
        font-size: 15px;
    }
}





@media screen and (min-width: 425px) and (max-width: 799px){

    p{
    font-size: medium;
    }

    .contents-details h3{
        font-size: 30px;
    }
    .col-md-12 .content {
        width: 100%;
    }

    .col-md-12 #game-4-imgs {
        width: 100%;
    }
}



@media screen and (min-width: 800px) {
    .content-details h3{
        font-size: 50px;
    }
    p {
        font-size: larger;
    }

}