/*This will be some CSS for a website*/
.center-text{
    text-align: center;
}

.center_align {
align-content: center;
text-align: center;

}


body {
    background-color: #FCF6F5FF;
    /*background-color: rgb(245 245 245);*/
    /*background-color:rgb(32 32 32) black*/
    /*
    background-image: url("images/background_white.jpg");
    background-size: cover;
    */
}
/*
.row {
   padding-top: 0.5em;
   padding-bottom: 0.5em;

}
*/
.img-fluid {
    box-shadow: 5px 10px 10px;
}
.img-fluid-limited {
    max-width: 50%;
    height: auto;
}

.navbar {
   font-family: 'Roboto';
   font-weight: 700;
    margin-left: 1em;
    margin-right: 1em;
}

#myNavbar {
    margin-left: 1em;
    margin-right: 4em;
 
}

.nav-link {
padding: 1em;
margin-left: 1em;
margin-right: 1em;
}

#nav-bar {
    /*background-color: darkseagreen;
    background-color: #8ef591
    background-color: lightgray;
    background-color: #38CA3B; */
    background-color: #2BAE66FF;
}


/*Navbar/ link colours*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text li {
    color: #FCF6F5FF;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FCF6F5FF;
}

.navbar-custom .navbar-brand .navbar-toggler .navbar-toggler-icon {
    color: #FCF6F5FF;
}
nav .navbar-nav li a:hover {
    color: crimson !important;
}

#main {
    margin-top: 0.5em;
    font-family: 'Roboto';
    font-weight: 500;
    padding-left: 5em;
    padding-right: 5em;
    min-height: 200px;
    color: #2BAE66FF;
}

.shadow-para {
    text-shadow: 0.15em 0 rgb(255 255 255), 0 0.15em rgb(255 255 255), -0.15em 0 rgb(255 255 255), 
        0 -0.15em rgb(255 255 255), -0.15em -0.15em rgb(255 255 255), -0.15em 0.15em rgb(255 255 255),
        0.15em -0.15em rgb(255 255 255), 0.15em 0.15em rgb(255 255 255);
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
 }

#work {
    opacity: 0;
    padding-top: 1.5em;
}
#about, #uxGames {
    opacity: 0;
    padding-top: 1.0em;

}

#work.fadeIn, #about.fadeIn, #uxGames.fadeIn{
        opacity: 1;
        -webkit-transition: opacity 1.5s ease-in-out;
        -moz-transition: opacity 1.5s ease-in-out;
        -o-transition: opacity 1.5s ease-in-out;
        transition: opacity 1.5s ease-in-out;
}
#work.hide, #about.hide, #uxGames.hide {
        height: 0px;
        opacity: 0;
    }

.fadeIn {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

.hideElement {
    opacity: 0;
    visibility: hidden;
    display: none;
    height: 0;
    font-size: 0;
}

.hideEle {
    height: 0;
    font-size: 0;
    opacity: 0;
    transition: all 0.1s;

}

/*Image size when uxgames images are expanded*/
.col-lg-12  .content{
width: 75%;
margin-left: auto;
margin-right: auto;
}

.gametxt {
text-align: center;
}


/*For image overlay command interactivity*/
.content {
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    border-radius: 3%;
    box-shadow: 1.5px 5px;
    text-shadow: none;
    margin: 0.5em;
}

    .content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        align-items: center;
        text-align: center;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        text-shadow: 0;
    }


.content:hover .content-overlay {
        opacity: 1;
 
}

.content:hover .content-overlay-hidden {
        opacity: 0;
        
}

.content-image {
    width: 100%
}

.image-width{
    width: 50%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    text-shadow: none;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    text-shadow: none;
}

.content:hover .content-details-hidden {
    top: 50%;
    left: 50%;
    opacity: 0;
  
}

.content-details h3 {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: none;
}
.content-details p {
    font-family: 'Roboto';
    color: #fff;
    font-size: 0.8em;
    text-shadow: none;
}


.content-details-hidden h3 {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: uppercase;
    font-size: 1.2em;
    display: none;
}

.content-details-hidden p {
    color: #fff;
    font-size: 0.8em;
    display: none;
}

.fadeIn-bottom {
    top: 80%;
}


@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'), url('roboto-regular-webfont.woff') format('woff');
}
