/*This will be some CSS for a website*/
#img {
border-radius: 3%;

}

.nav-link {
padding: 1em;
margin-left: 1em;
margin-right: 1em;
}



#work {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

#about, #uxGames {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

    #work.fadeIn, #about.fadeIn, #uxGames.fadeIn {

        opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
    }

    #work.hide, #about.hide, #uxGames.hide {
        
        opacity: 0;
    }