/*This will be some CSS for a website*/
#img {
border-radius: 3%;

}

.nav-link {
padding: 1em;
margin-left: 1em;
margin-right: 1em;
}


#about {
display: none;
}

#uxGames {
display: none;
}


/*
#about:target {
        -webkit-transition: opacity 2.0s ease-in;
        -moz-transition: opacity 2.0s ease-in;
        -o-transition: opacity 2.0s ease-in;
        
        opacity: 1; 

}
*/

